body
{
    display: flex;
    justify-content: center;
    height: auto;
    font-size: small;
}
section
{
    width: 700px;
    border: 1px solid black;
    padding-bottom: 10px;
}
img{
    justify-content: center;
    width : 150px; height : 150px;
    border: none;
    border-radius : 75px;
}
h1{
    text-transform: uppercase;
}
.sectionleft{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #F57C00;
}

.sectionleft H1{
    color: #F57C00;
    background-color: #424242;
    text-align: center;
}
.sectionleft ul
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sectionleft li
{
    list-style-type:none;
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sectionleft p
{
    text-align: justify;
    padding: 0 40px 0 40px;
}
.sectionleft > div:nth-child(1) {
    margin: 40px 0 10px 0;
    align-self: center;
}
#loisirs{
    margin-top: auto;
    margin-bottom: 10px;
}
#loisirs div{
    display: flex;
    justify-content: space-evenly;
}
#loisirs div >svg{
    border: 1px solid black;
    padding: 8px;
    border-radius: 50px;
}

.sectionright{
    padding: 0 40px 30px 40px;
    display: flex;
    flex-direction: column;
}

.sectionright header hr{
    border: none;
    border-top: 1px solid #F57C00;
    margin: 0;
    width: 50px;
}
.sectionright div h1{
    margin-bottom: 0;
}
.sectionright div:nth-child(2) hr{
    border: none;
    border-top: 1px solid #F57C00;
    margin: 2px;
}
.sectionright div:nth-child(3) hr{
    border: none;
    border-top: 1px solid #F57C00;
    margin: 2px;
}
.sectionright div:nth-child(4) hr{
    border: none;
    border-top: 1px solid #F57C00;
    margin: 2px;
}
.sectionright svg{
    margin-right: 12px;
}
.sectionright .bordure{
    border-bottom: 1px solid #F57C00;
}

.coloruni{
    color: #F57C00;
}
header{
    padding: 30px 0 30px 0;
}
header h1{
     margin-bottom: 0;
     font-size: 3em;
}
header h3{
    margin-top: 0;

}
.sectionright svg{
    color: #F57C00;
}
.emploi {
    display: flex;
    margin-top: 15px;
}
.emploi .date{
    display: flex;
    width: 33%;
    padding-top: 20px;
}
.emploi .detailemploi{
    width: 67%;
    text-align: justify;
}
.emploi .date div {
    margin-left: 5px;
}
.recommandation p{
    margin: 0;
}
.recommandationGlobal{
    display: flex;
    justify-content: space-between;
    width: 70%;
}


@media all and (max-width: 700px) {

    body {
        display: flex;
        justify-content: center;
        height: auto;
        font-size: small;
        flex-direction: column;

    }

    section {
        width: 700px;
        border: 1px solid black;
        padding-bottom: 10px;
    }

    img {
        justify-content: center;
        width: 150px;
        height: 150px;
        border: none;
        border-radius: 75px;
    }

    h1 {
        text-transform: uppercase;
    }

    .sectionleft {
        display: flex;
        flex-direction: column;
        background-color: #8BC34A;
        width: auto;
    }

    .sectionleft H1 {
        color: #8BC34A;
        background-color: #424242;
        text-align: center;
    }

    .sectionleft ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .sectionleft li {
        list-style-type: none;
        margin: 5px 0 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .sectionleft p {
        text-align: justify;
        padding: 0 40px 0 40px;
    }

    .sectionleft > div:nth-child(1) {
        margin: 40px 0 10px 0;
        align-self: center;
    }

    #loisirs {
        margin-top: auto;
        margin-bottom: 10px;
    }

    #loisirs div {
        display: flex;
        justify-content: space-evenly;
    }

    #loisirs div > svg {
        border: 1px solid black;
        padding: 8px;
        border-radius: 50px;
    }

    .sectionright {
        padding: 0 40px 30px 40px;
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .sectionright header hr {
        border: none;
        border-top: 1px solid #8BC34A;
        margin: 0;
        width: 50px;
    }

    .sectionright div h1 {
        margin-bottom: 0;
    }

    .sectionright div:nth-child(2) hr {
        border: none;
        border-top: 1px solid #8BC34A;
        margin: 2px;
    }

    .sectionright div:nth-child(3) hr {
        border: none;
        border-top: 1px solid #8BC34A;
        margin: 2px;
    }

    .sectionright div:nth-child(4) hr {
        border: none;
        border-top: 1px solid #8BC34A;
        margin: 2px;
    }

    .sectionright svg {
        margin-right: 12px;
    }
    .sectionright .bordure{
        border-bottom: 1px solid #8BC34A;
    }

    .coloruni {
        color: #8BC34A;
    }

    header {
        padding: 30px 0 30px 0;
    }

    header h1 {
        margin-bottom: 0;
        font-size: 3em;
    }

    header h3 {
        margin-top: 0;

    }

    .sectionright svg {
        color: #8BC34A;
    }

    .emploi {
        display: flex;
        margin-top: 15px;
    }

    .emploi .date {
        display: flex;
        width: 33%;
        padding-top: 20px;
    }

    .emploi .detailemploi {
        width: 67%;
        text-align: justify;
    }

    .emploi .date div {
        margin-left: 5px;
    }

    .recommandation p {
        margin: 0;
    }

    .recommandationGlobal {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }
}