@font-face {
    font-family: 'abhaya_libremedium';
    src: url('font/abhaya/web fonts/abhayalibre_medium_macroman/AbhayaLibre-Medium-webfont.eot');
    src: url('font/abhaya/web fonts/abhayalibre_medium_macroman/AbhayaLibre-Medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/abhaya/web fonts/abhayalibre_medium_macroman/AbhayaLibre-Medium-webfont.woff') format('woff'),
    url('font/abhaya/web fonts/abhayalibre_medium_macroman/AbhayaLibre-Medium-webfont.ttf') format('truetype'),
    url('font/abhaya/web fonts/abhayalibre_medium_macroman/AbhayaLibre-Medium-webfont.svg#abhaya_libremedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    border: 1px solid black;
    height: auto;
    font-family: 'abhaya_libremedium',Arial, sans-serif;
    max-width: 800px;
    margin: auto;
}
aside , article
{
    padding-bottom: 10px;
}

h2{
    text-transform: uppercase;
}
main
{
    display: flex;
}
aside{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #4DB6AC;
}

aside H2{
    color: #4DB6AC;
    background-color: #424242;
    text-align: center;
    padding: 3px 0 3px 0;
}
aside ul
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 3px;
}
aside li
{
    list-style-type:none;
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
aside p
{
    text-align: justify;
    padding: 0 40px 0 40px;
}

#loisirs{
    margin-top: auto;
    margin-bottom: 10px;
}
#loisirs div{
    display: flex;
    justify-content: space-evenly;
}
#loisirs div div{
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}


article{
    padding: 0 40px 30px 40px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

article div h2{
    margin-bottom: 0;
}
article div:nth-child(1) hr{
    border: none;
    border-top: 1px solid #4DB6AC;
    margin: 2px;
}
article div:nth-child(2) hr{
    border: none;
    border-top: 1px solid #4DB6AC;
    margin: 2px;
}
article div:nth-child(3) hr{
    border: none;
    border-top: 1px solid #4DB6AC;
    margin: 2px;
}
article div:nth-child(4) hr{
    border: none;
    border-top: 1px solid #4DB6AC;
    margin: 2px;
}
article svg{
    margin-right: 12px;
    color: #4DB6AC;
}
article .experiencepro svg {
    margin-right: 2px;
}
.Nom .bordure{
    border-bottom: 1px solid #4DB6AC;
}

.coloruni{
    color: #4DB6AC;
}
header{
    display: flex;
    width: 100%;
}
header h1{
     margin-bottom: 0;
     font-size: 3em;
}
header h3{
    margin-top: 0;
}
header .photo{
    background-color:#4DB6AC;
    width: 40%;
    padding-top: 5%;
}
header .photo #photo{
    width : 150px;
    height : 150px;
    border-radius : 75px;
    margin: auto;
    overflow:hidden;
}
#photo img{
    width : 150px;
    height : 150px;
}
.Nom
{
    width: 60%;
    margin: 5% ;
}
.experiencepro , .formation {
    display: flex;
    margin-top: 15px;
}
.experiencepro .date , .formation .date{
    display: flex;
    width: 33%;
    padding-top: 20px;
}
.experiencepro .detailexperiencepro , .formation .detailformation {
    width: 67%;
    text-align: justify;
}
.experiencepro .date div , .formation .date div{
    margin-left: 5px;
}
.recommandation p{
    margin: 0;
}
.recommandationGlobal{
    display: flex;
    justify-content: space-between;
}


@media all and (max-width: 800px) {
    body
    {
        max-width: 700px;
    }
    header{
        flex-direction: column;
    }
    header .photo{
        width: auto;
        padding: 2% 0 2% 0;
    }
    .Nom{
        width: 100%;
    }
    .Nom h1{
        margin-top: 2%;
        font-size: 2em;
    }
    main{
        flex-direction: column;
    }

    img {
        justify-content: center;
        border: none;
        border-radius: 75px;
    }

    aside {
        width: auto;
    }

    aside H2 {
       margin-top: 0;
    }

    article {
        padding: 0 10px 30px 10px;
        width: auto;
    }
    .recommandationGlobal {
        justify-content: space-around;
        width: 100%;
    }
}